// containers
nav > div,
header > div,
main,
footer {
  @extend .container;
}

// rows
main > section,
footer > div {
  @include make-row;
}

// article columns
main article {
  @include make-md-column(4);
}

// footer columns
footer section {
  @include make-xs-column(12);
}

// give the body some breathing room
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

// prettify menu button
.navbar-header i {
  color: white;
}
